
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h2>Altamira</h2>
            </div>

        </div>
        <ul >
            <li><i class="fa fa-building"></i> Address: jermi@gmail.com </li>
            <li><i class="fa fa-phone"></i> Phone: 999889899 </li>
        </ul>
    </div>
</div>